<h1>Seja bem vindo ao curso de Angular!</h1>
<h4 class="text-danger">{{ anuncio }}</h4>

<div class="row">
    <div class="col" *ngFor="let prod of listaProdutos">
        <div class="card" style="width: 18rem;">
            <img [src]="prod.foto" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    {{ prod.nomeProduto | uppercase}}
                    <span *ngIf="prod.promocao; else elseBlock" class="badge badge-success">Promoção</span>
                    <ng-template #elseBlock>
                        <span class="badge badge-primary">Aproveite</span>
                    </ng-template>
                </h5>
                <p class="card-text">Identificação {{ prod.idProduto | number: '2.0-0'}}</p>
                Validade: {{prod.dataValidade | date: 'shortDate'}}
                <a href="#" class="btn btn-primary float-right">{{prod.precoProduto | currency:'BRL'}}</a>
            </div>
        </div>
    </div>
</div>
