<h1>Seja bem vindo ao curso de Angular!</h1>
<div class="row">
    <!--    LOGO HORACIO    -->
    <div class="col">
        <div class="card">
            <div class="card-body">
                <img class="img-fluid" src="assets/img/logo_horacio.png">
            </div>
            <!-- FIM DO CARD BODY-->
        </div>
        <!-- FIM DO CARD-->
    </div>
    <!-- FIM DA COLUNA-->


    <!--    CRUD      -->
    <div class="col">
        <div class="card">
            <div class="card-body">
                <img class="img-fluid" src="assets/img/crud.png">
            </div>
            <!-- FIM DO CARD BODY-->
        </div>
        <!--FIM DO CARD-->
    </div>
    <!-- FIM DA COLUNA -->
</div>
<!-- FIM DA LINHA-->